{% extends "base.html" %}
{% block title %}修改用户名或密码{% endblock %}
{% block content %}
<main class="container mt-1">
    <div class="row fade-in">
        <div class="card mb-4">
            <div class="card-header">修改用户名或密码</div>
            <div class="card-body">
                <form id="change_password_form" method="post">
                    <label for="new_username" class="form-label">用户名:</label>
                    <input style="margin-bottom: 10px;" class="form-control" type="text" id="new_username" name="new_username" value="{{ current_username }}" required>
                    <label for="old_password" class="form-label">旧密码:</label>
                    <input style="margin-bottom: 10px;" class="form-control" type="password" id="old_password" name="old_password" required>           
                    <label for="new_password" class="form-label">新密码:</label>
                    <input style="margin-bottom: 10px;" class="form-control" type="password" id="new_password" name="new_password">
                    <div class="form-text" style="margin-bottom: 10px;">如无需要修改密码，请留空</div>

                    <input type="submit" class="btn btn-sm btn-primary" value="更新用户信息">
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function() {
        $('#change_password_form').on('submit', function(event) {
            event.preventDefault();  // 阻止表单默认提交行为

            $.ajax({
                type: 'POST',
                url: '/change_password',
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        alert(response.message);
                        window.location.href = response.redirect_url;
                    } else {
                        alert(response.message);
                    }
                },
                error: function() {
                    alert('网络错误，请稍后再试。');
                }
            });
        });
    });
</script>
{% endblock %}