{% extends "base.html" %}
{% block title %}下载管理{% endblock %}
{% block content %}
<main class="container mt-1">
    <div class="row fade-in">
        <div class="card mb-4">
            <div class="card-header">下载管理</div>
            <div class="card-body">
                {% if download_mgmt %}
				<p>请使用迅雷APP或NAS迅雷进行下载任务管理</p>
				<p>浏览器可以通过：<a target="_blank" rel="noopener noreferrer" style="color: #007bff; text-decoration: none;" href="https://pan.xunlei.com/yc">迅雷远程设备</a> 进行下载任务管理</p>
			</div>
		</div>
	</div>
</main>	
{% else %}
<p>下载管理功能未启用，请在系统设置中启用下载管理并配置下载器相关参数</p>
{% endif %}
{% endblock %}
